.plan-form input {
    background: none; 
    border: none;
    border-bottom: 1px solid black;
}

.plan-form input:focus,
textarea:focus {
    outline: none;
}

#plan-form-input-name-container {
    margin: 7.5% auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

#plan-form-input-name,
#plan-form-input-description {
    margin-left: 3%;
    font-size: 1rem;
}

.plan-form-description {
    display: flex;
    justify-content: center;
    align-items: center;
}

#plan-form-input-description {
    width: 50%;
    height: 75px;
    resize: none;
    background-color: #EAEEF0;
}

.plan-form-task-container {
    display: flex;
    justify-content: center;
}

.plan-form-task-container
.plan-form-task-remove {
    cursor: pointer;
    color: red;
    font-size: .9rem;
}

.plan-form-task-container
.plan-form-task-name {
    flex-basis: 60%;
}

.plan-form-task-container
.plan-form-task-value {
    flex-basis: 10%;
}

.plan-form-task {
    cursor: default;
    border: none;
}

.plan-form-task input {
    text-align: center;
    width: 25%;
    margin-right: 3%;
    font-size: .9rem;
}

.plan-form-task
.plan-form-task-value {
    width: 10%;
}

.plan-form button {
    cursor: pointer;
    float: right;
    margin-right: 3%;
    border: none;
    outline: none;
    background: none;
    color: darkorchid;
    text-decoration: underline
}

#plan-form-tasks-add {
    cursor: pointer;
    margin-top: 5%;
    text-align: center;
}

@media screen and (max-width: 776px) {
    .plan-form-actions {
        width: 100%;
        padding: 0;
    }
}