#plan-controller-delete {
    cursor: pointer;
    color: #F13E3E;
    margin-right: 2%;
}

#main-stats {
    justify-content: center;
    min-height: 50px;
    margin-bottom: 7.5%;
}

#plan-completed {
    background-color: var(--tertiaryColor);
    padding: 2% 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    min-width: 125px;
}

#main-stats-progress-bar {
    margin: auto;
}

.plan-controller-task-completed {
    text-decoration: line-through;
    opacity: .5;
}

/* make line height for header tighter */