#skill-form .skill-form-action {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

#skill-form .skill-form-action div {
    width: 100%;
}

.skill-form-action-inputs-container {
    flex-basis: 90%;
}

#skill-form .skill-form-action-name, #skill-form .skill-form-action-value {
    background-color: var(--quaternaryColor);
    margin: 2.5% auto;
}

#skill-form .skill-form-action-remove {
    color: #F13E3E;
    margin: 0;
}

#skill-form .skill-form-action-remove:hover {
    opacity: .75;
}

@media screen and (max-width: 768px) {
    .skill-form-action-inputs-container {
        flex-basis: 85%;
    }
}