#skill-links a {
    margin-right: 2%;
    color: var(--primary-color);
}

#skill-links span {
    cursor: pointer;
    color: #F13E3E;
}

#skill-links span:hover { opacity: .75; }

#skill-controller-left #main-stats {
    flex-direction: column;
    justify-content: space-between;
    min-height: 150px;
}

#main-stats #main-stats-upper {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#main-stats-upper #main-stats-level,
#main-stats-upper #main-stats-xp {
    background-color: var(--tertiaryColor);
    padding: 2% 3%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    min-width: 100px;
}

@media screen and (max-width: 328px) {
    #main-stats #main-stats-upper {
        flex-direction: column;
        width: 60%;
    }
    #main-stats #main-stats-upper div {
        margin: 1.5vh auto;
    }
    #main-stats-level, #main-stats-xp {
        font-size: .5rem;
        width: 90%;
    }
    #main-stats-progress-bar {
        height: 30px;
        margin-top: 5vh;
    }
    #actions ul li {
        width: 100%;
    }
}