#error-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .9);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#error-modal-box {
    text-align: center;
    padding: 30px;
    background-color: whitesmoke;
    color: black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    animation: appear .25s linear forwards;
}

@keyframes appear {
    from { opacity: 0; }
    to { opacity: 1; }
}